
*.jpg
.ipynb_checkpoints/001.Data_Collection-checkpoint.ipynb
*.pkl
*.csv
.ipynb_checkpoints/010.Data_Cleaning-checkpoint.ipynb
.ipynb_checkpoints/002.Data_Collection_MoMA-checkpoint.ipynb
*.txt
*.h5
*.json
MODEL/
DATA/
IMAGES/
PKL/
*.pyc
.ipynb_checkpoints/001.Data_Collection_Harvard-checkpoint.ipynb
.ipynb_checkpoints/003.Data_Collection_RISD-checkpoint.ipynb
.ipynb_checkpoints/020.EDA-checkpoint.ipynb
.ipynb_checkpoints/030.Model_1-checkpoint.ipynb
.ipynb_checkpoints/032.Model_2-checkpoint.ipynb
